@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Patrick+Hand&display=swap');

body {
	font-family: 'Patrick Hand';
	background-color: black;
	color: white;
}

.container .body {
	max-width: 800px;
	margin: auto;
	margin-top: 50px;
}